* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;

}


a {

    font-style: normal;
    text-decoration: none;
    color: white;

}


.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.fade-in-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease-in-out, transform 2s ease-in-out;
}

.fade-in-img.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

/* cabeçário */

header {

    height: 12vh;
    width: 100vw;
    color: white;
    position: relative;
    z-index: 998;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
    position: fixed;

}


.header_fixed {

    height: 12vh;
    width: 100vw;
    color: white;
    display: flex;
    z-index: 997;
    align-items: center;
    background-color: rgba(57, 56, 56, 0.7);
    justify-content: center;
    position: fixed;

}

header img {

    height: 10vh;
    cursor: pointer;

}

.mid {

    width: 30vw;
    display: flex;
    background-color: none;
    height: 10vh;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;


}

nav {

    width: 30vw;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;

}

nav i {

    width: 5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 80%;
    cursor: pointer;
}

#lupa-search {

    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 50%;

}

#menu-hamburguer {

    border: 2px solid #ffffff;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 80%;
    background-color: white;
    color: black;
    border-radius: 50%;
}

#barra-div {

    padding: 10px;
    width: auto;
    height: 10vh;
    width: 12vw;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;

}

#barra-search {

    text-align: center;
    border: none;
    width: 10vw;
    height: 4vh;

}

/* main */

#season-one {

    width: 100vw;
    height: 90vh;
    background-image: url('/FE-IMAGES/banner_one.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border-radius: 0 0 60px 60px;
    border: transparent;
}

h1 {

    color: white;
    position: absolute;
    z-index: 990;
    top: 40vh;
    font-size: 200%;
    text-shadow: 0 0 10px black;
    right: 3vw;
    font-family: sans-serif;

}

#subtitule {

    color: white;
    position: absolute;
    z-index: 990;
    text-shadow: 0 0 10px black;
    top: 46vh;
    font-family: sans-serif;
    font-size: 155%;
    right: 3vw;

}

.background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: black;
    width: 100vw;
    height: 100vh;
    border-radius: 0 0 60px 60px;
}


#season-two {

    width: 100vw;
    background: linear-gradient(to bottom, white, white, white, white, #000000, #000000);
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: transparent;

}

h2 {

    border: transparent;
    margin-top: 2vh;
    width: 100vw;
    text-align: center;
    font-size: 190%;
    font-weight: bolder;
    color: #426a97;

}

.servicos-pai {

    height: 65vh;
    width: 155vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-right: -42vw;
    transform: translateX(-10vw);
    animation: moveAuto 10s infinite alternate ease-in-out;
}

@keyframes moveAuto {
    0% {
        margin-right: -72vw;
    }

    100% {
        margin-right: 35vw;
    }
}

@keyframes moveLeftRight {
    0% {
        margin-right: -72vw;
    }

    100% {
        margin-right: 35vw;
    }
}

@keyframes moveRightLeft {
    0% {
        margin-right: 35vw;
    }

    100% {
        margin-right: -72vw;
    }
}

.servicos-son {

    height: 55vh;
    width: 22.5vw;
    background-position: center;
    display: flex;
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 130%;
    box-shadow: 0 0 15px black;
    transition: background-color 0.3s ease, background-size 0.5s ease;


}

.servicos-son:hover {

    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 135%;

}

h3 {

    font-size: 140%;
    margin-top: 7vh;
    overflow-y: hidden;
    padding: 10px;
    height: auto;
    max-height: 8vh;
    cursor: default;
    width: 100%;

}

.servicos-son p {

    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    max-height: 10vh;
    overflow-y: hidden;
    padding: 5px;
    cursor: default;

}

.botao-saiba {

    margin-top: 25vh;
    width: 10vw;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    height: 5vh;
    cursor: pointer;
    transition: all 0.3s ease;

}

.botao-saiba:hover {

    background-color: white;
    color: black;
    border: none;

}

#setas {

    position: absolute;
    width: 95vw;
    display: flex;
    top: 125vh;
    align-items: center;
    justify-content: space-between;

}

#setas div {

    font-size: 180%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    top: 30vh;
    z-index: 20;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#setas div:hover {


    background-color: rgba(0, 0, 0, 1);

}


#cases {

    height: auto;
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.manchete {

    height: 45vh;
    background-color: white;
    width: 48vw;
    background-blend-mode: overlay;
    background-color: rgba(8, 3, 37, 0.5);
    background-size: 135%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}


.artigo {

    width: 18vw;
    height: 45vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;

}

.artigo img {

    height: 20vh;
    object-fit: cover;
    width: 100%;

}

.artigo h4 {

    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    width: 13vw;
    color: rgb(118, 117, 117);

}

.artigo h5 {

    height: 10vh;
    display: flex;
    font-size: 80%;
    align-items: center;
    justify-content: flex-start;
    width: 13vw;

}

.manchete2 {

    height: 40vh;
    width: 85vw;
    background-blend-mode: overlay;
    background-color: rgba(8, 3, 37, 0.5);
    background-size: 135%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15879.jpg");
    border-radius: 20px;

}


#linha-tempo {
    background-color: #000;
    color: #fff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 80vw;
}

.timeline-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.timeline-year {
    background-color: #091d34;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
}

.timeline-content {
    font-size: 1rem;
    flex: 1;
}




#ead {
    width: 100vw;
    min-height: 80vh;
    height: auto;
    /* Altura mínima para preencher a tela */
    background-image: linear-gradient(to right, #000000, #000000, #091d34, #080694, #091d34);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.ead-filho {

    min-height: 75vh;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;

}

.ead-neto {

    display: flex;
    width: 40vw;
    height: auto;
    overflow-y: hidden;
    gap: 25px;
    align-items: center;
    flex-direction: column;
}

.ead-neto img {

    width: auto;
    height: 10vh;

}

.ead-neto h4 {

    font-size: 400%;
    color: white;
    width: 30vw;
    text-align: left;

}

.ead-neto h5 {

    font-size: 130%;
    color: white;
    width: 30vw;
    text-align: left;

}

#botao-ead-pai {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;

}

#botao-ead {

    background-color: rgb(0, 143, 143);
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 20px;

}

#botao-ead:hover {

    background-color: transparent;
    border: 1px solid rgb(0, 143, 143);

}

#ead-photo {
    height: 80vh;
    width: auto;
    border-radius: 50%;
    transform: rotate(10deg);
}

#manutencao {

    height: 80vh;
    background-image: url("https://github.com/sanfergio/Fabrica-Escondida-Website/blob/main/FE-IMAGES/obras-background.png?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    display: flex;
    background-blend-mode: overlay;
    align-items: center;
    justify-content: space-evenly;

}


.box-Manutencao {
    width: 28vw;
    height: 70vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.8));
    gap: 10px;
}


#manutencao h4 {

    font-size: 210%;
    min-height: 22vh;
    height: auto;
    color: #4a627f;
    width: 22vw;

}

#manutencao h5 {

    font-size: 100%;
    width: 22vw;
    min-height: 22vh;

}

#manutencao button {

    color: white;
    background-color: #091d34;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    width: 15vw;
    margin-right: 8vw;
    border: none;

}

.obra-pc {

    height: 80vh;
    transform: scaleX(-1);
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.8));

}


.obra-mobile {

    display: none;

}



#clientes {

    height: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: black;

}


#clientes h4 {

    color: #091d34;
    font-size: 180%;

}

.clientes-pc {

    width: 70vw;
    height: auto;

}

.clientes-mobile {

    display: none;

}

/* rodapé */

footer {


    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: black;

}

#begin-footer {

    height: 10vh;
    background-color: rgba(85, 85, 85);
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}

#botao_contato {
    text-align: center;
    border: 1px solid white;
    padding: 13px;
    width: 15vw;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Suaviza a transição de todas as propriedades */
}

#botao_contato:hover {
    color: rgba(85, 85, 85);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra suave */
}


#mid-footer {

    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-footer {

    width: 25vw;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;

}

#logo-footer {

    display: flex;
    align-items: center;

}

#list-footer {

    text-align: right;
    flex-direction: row;
    justify-content: space-evenly;

}

#list-footer li {

    margin-top: 10px;

}

.linha-vertical {


    height: 25vh;
    border: 1px solid white;
    width: 1px;

}

#bio-footer {

    text-align: left;

}

#bio-footer img {

    height: 3.5vh;
    cursor: pointer;
    transition: transform .2s;

}

#bio-footer img:hover {

    height: 3.5vh;
    cursor: pointer;
    transform: scale(0.8);


}

#siga-footer {

    height: auto;
    margin-top: 5vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#redes-footer {

    height: auto;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.contato-footer {

    height: auto;
    margin-top: 2vh;
    width: 20vw;
    font-size: 95%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#final-footer {

    width: 100vw;
    background-color: #091d34;
    padding: 15px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}