#season-one {
    height: 60vh;
    width: 100vw;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(9, 37, 68)),
        url("https://img.freepik.com/fotos-gratis/foto-da-linha-de-producao-de-automoveis-solda-corpo-do-carro-moderna-fabrica-de-montagem-de-automoveis-industria-automobilistica_645730-133.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}


h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 10vh;
    color: whitesmoke;
    text-shadow: 0 3px 6px black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}